extends layout/layout

block content
    section.content-wrapper.error-pages
        img.mb40(src=prefix+"/img/icons/icon-not-found.svg")
        h1.title.title-page-title.mb40 Aradığınız sayfaya ulaşılamıyor!
        p Aradığınız sayfa sitemizden kaldırılmış ya da adresi (URL) değiştirilmiş olabilir: 
        p Bu sayfaya sitemiz üstündeki başka bir linke, butona ya da yönlendirmeye tıklayarak ulaştıysanız lütfen bizi bilgilendirin. Sayfaya doğrudan sayfa adresini yazarak ulaştıysanız adresi hatalı girip girmediğinizi kontrol edin. Aradığınız içeriğe site içi arama özelliğimizi kullanarak ulaşmayı denebilirsiniz.
