extends layout/layout500

block content
    section.content-wrapper.error-pages
        img.mb40(src=prefix+"/img/icons/icon-danger.svg")
        h1.title.title-page-title.mb40 Sunucuda geçici bir hata oluştu.
        p Sitemize erişimde  geçici bir hata oluştu. Uzmanlarımız en kısa sürede bu hatanın kaynağını tesbit ederek çözüm geliştirecektir. İsteğimiz dışında oluşan bu hatadan ötürü özür dileriz.