extends layout/layout

block content
    section.content-wrapper.press-page
        .container
            .page-top
                h1.title.title-page-title Lorem ipsum dolor sit amet, consectetur.
                .breadcrumb
                    a(href="#") Ana Sayfa
                    | >
                    a(href="#") Basında
                    | >
                    a(href="#") Lorem ipsum dolor sit amet, consectetur.

            .centerfix
                figure.press-img
                    img(src="https://place-hold.it/522x354")

                h3.title.title-third.space Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                p Aenean mollis lacus efficitur nisl imperdiet, non egestas mauris porta. Suspendisse sollicitudin, metus nec sollicitudin accumsan, tortor nisl commodo elit, a finibus velit ligula nec dolor.

                p Ut in maximus est. Nunc quis elit a libero hendrerit molestie sed quis magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla mollis porta orci, in porttitor diam mattis quis. Praesent at placerat massa. Nam varius enim condimentum metus sodales cursus. In mollis est vitae nulla hendrerit tristique. Integer sit amet lacinia quam, id efficitur lectus.

                p Vestibulum tellus orci, mollis vel neque in, sagittis cursus mi. Maecenas aliquet volutpat velit, placerat condimentum orci laoreet lacinia. Sed nisi ex, scelerisque eu turpis a, cursus vestibulum dolor. Nunc ut nisl velit. Morbi scelerisque pharetra libero vel sollicitudin. Donec accumsan quis lectus vitae tristique. Donec odio erat, scelerisque eu ornare nec, rutrum et purus. Sed vehicula et ex nec cursus. Vivamus lobortis arcu enim, sit amet maximus metus luctus vitae. Mauris tristique suscipit maximus.

                p Aliquam consectetur tempor bibendum. Curabitur lobortis, neque non imperdiet faucibus, nisl turpis faucibus nunc, in pellentesque lorem ipsum vel urna. Nam mattis ac ipsum non venenatis. Sed ultrices cursus enim, id luctus neque dapibus a. Suspendisse id odio ligula. Sed rutrum, nulla eget fringilla ullamcorper, erat magna luctus risus, in accumsan elit diam a mi. Suspendisse potenti. Aliquam dapibus ligula a erat dignissim, non fermentum enim vehicula. Morbi vitae eros placerat, tempus ligula eget, tincidunt libero. Vestibulum eget laoreet mi, ac dignissim quam. Phasellus sit amet arcu non leo fermentum eleifend ut quis tortor