extends layout/layout

block content
    section.content-wrapper.press-page
        .container
            .page-top
                h1.title.title-page-title Basında Kolo Holding
                .breadcrumb
                    a(href="#") Ana Sayfa
                    | >
                    a(href="#") Basında

            .centerfix
                .row
                    -for(let i = 0; i < 8; i++)
                        .col-12.col-md-4
                            a.press-item(href="basinda-detay.html")
                                figure
                                    img(src="https://place-hold.it/522x354")
                                h4.title.title-third Lorem ipsum dolor sit amet, consectetur.
                                p bibendum. Curabitur lobortis, neque non imperdiet faucibus, nisl turpis faucibus nunc.