extends layout/layout
block head
    - var breadCrumb = "<span>İLETİŞİM</span>"

block content
    section.content-wrapper.contact-page
        .container
            .page-top
                h1.title.title-page-title İletişim Bilgileri
                .breadcrumb
                    a(href="#") Ana Sayfa
                    | >
                    a(href="#") İletişim Bilgileri
            .centerfix
                .row
                    .col-12
                        a.map(href="#")
                            img(src=prefix+"/img/contact/map.jpg")

                    .col-12.col-md-4.address-info
                        h3.title.title-fourth Genel Müdürlük
                        p Küçükbakkalköy Mah. Vedat Günyol Cad No:8 Ataşehir/İstanbul
                        a(href="mailto:bilgi@koloholding.com.tr") bilgi@koloholding.com.tr
                        a(href="tel:08504905656") 0850 490 56 56

                    .col-12.col-md-8.contact-form
                        .row
                            .col-12
                                h3.title.title-fourth Bize Ulaşın
                            .col-12
                                .alert Form başarıyla gönderilmiştir.
                            form.col-12.validate-form
                                .row
                                    .col-12.col-md-6
                                        .form-field
                                            input(name="name", data-rule-required="true", autocomplete="off")
                                            label İsim Soyisim
                                    .col-12.col-md-6
                                        .form-field
                                            input(name="phone", data-rule-required="true", autocomplete="off", maxlength="11")
                                            label Telefon Numarası
                                    .col-12.col-md-6
                                        .form-field
                                            input(name="email", data-rule-required="true", data-rule-email="true", autocomplete="off")
                                            label E-mail
                                    .col-12.col-md-6
                                        .form-field
                                            input(name="subject", data-rule-required="true", autocomplete="off")
                                            label Konu
                                    .col-12
                                        .form-field
                                            textarea(name="message", data-rule-required="true")
                                            label Mesajınız
                                    .col-12.form-field.d-flex.justify-content-end
                                        button.button.button-primary(type="submit") Gönder

block scripts
    script.
        $('.validate-form').each(function () {
            $(this).validate({
                errorPlacement: function (error, element) {
                    // Append error within linked label
                    $(element)
                        .parent().addClass('error');
                }

            })
        });