extends layout/layout
block head
    - isHomePage = true
block content
    section.centerfix
        .homepage-slider-wrapper
            #video
                video(autoplay loop muted poster="/assets/dist/img/blank.gif" preload="automatic" class="slides__video--autoplay")
                    source(src=prefix+"/img/homepage/video.mp4" type="video/mp4")
            .container
                .owl-carousel.homepage-slider
                    .item
                        .content
                            h3.title.title-fifth Biz Böyle Güzeliz
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum faucibus elit.
                            p.hastag #birlikte

                        a.button.button-second(href="#") Detaylı Bilgi
                    .item
                        .content
                            h3.title.title-fifth Biz Böyle Güzeliz 2
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum faucibus elit.
                            p.hastag #birlikte

                        a.button.button-second(href="#") Detaylı Bilgi
                    .item
                        .content
                            h3.title.title-fifth Biz Böyle Güzeliz 3
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum faucibus elit.
                            p.hastag #birlikte

                        a.button.button-second(href="#") Detaylı Bilgi

        .homepage-references-list.d-none.d-md-block
            .container
                a(href="#")
                    img(src=prefix+"/img/homepage/otokolo-logo.svg")
                a(href="#")
                    img(src=prefix+"/img/homepage/vbtt-logo.svg")
                a(href="#")
                    img(src=prefix+"/img/homepage/iq-sigorta-logo.svg")
                a(href="#")
                    img.big(src=prefix+"/img/homepage/finansevim-logo.svg")
                a(href="#")
                    img(src=prefix+"/img/homepage/international-medya-logo.svg")
                a(href="#")
                    img(src=prefix+"/img/homepage/haber-international-logo.svg")

    section.centerfix.brands-list
        .container
            .row
                .row
                    .brands-all-item
                        .content
                            p
                                span Daha iyisi için,<br>
                                | her gün daha çok çalışarak hayata değer katan projeler üretiyoruz!
                            .buttons
                                a.button.button-third(href="markalarimiz.html") Markalarımız
                                //a.button.button-fourth(href="markalarimiz.html") Detaylı Bilgi
                        img.img1(src=prefix+"/img/homepage/homepage-brand-img-1.png")
                        img.img2(src=prefix+"/img/homepage/homepage-brand-img-2.png")

                    .brands-item.finansevim(style="background-image:url("+prefix+"/img/brands/finansevim/bg.jpg)")
                        .content
                            .centerfix
                                h3.title
                                    span Türkiye’nin
                                    | Faizsiz Ev Alma Sistemi

                                img.logo(src=prefix+"/img/brands/finansevim/logo.svg")

                                p Finansevim, kurulduğu günden itibaren deneyimli kadrosu ve hayallerini gerçekleştirmek isteyen binlerce katılımcısıyla Türkiye’nin en büyük, en güçlü Tasarrufa Dayalı Faizsiz Finans Sistemi ailesidir. Kurulduğu günden bu yana evden otomobile binlerce hayalin gerçekleşmesine vesile olmuştur. Sektöründe ikinci yılında kar açıklayan, yıllık 25 milyar TL’lik hacmi yöneten, ülke ekonomisine ise yıllık 50 milyar TL katkı sağlayan, sadece iki yılda 5 bin üzerinde teslimat gerçekleştiren tek markadır.

                            .buttons
                                a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                        img.img1(src=prefix + "/img/brands/finansevim/img.png")

                    .brands-item.otokolo(style="background-image:url("+prefix+"/img/brands/otokolo/bg.jpg)")
                        .content
                            .centerfix
                                h3.title
                                    span Türkiye’nin
                                    | İkinci El Taksitle ve Senetle Araba Alma Sistemi

                                img.logo(src=prefix+"/img/brands/otokolo/logo.svg")

                                p Otokolo Motorlu Taşıtlar Anonim Şirketi, Kolo Holding tarafından Otomotiv sektörüne yeni bir soluk getirme vizyonu ile , faizsiz, kefilsiz ve kredisiz araç alım çözümlerini müşterileriyle buluşturmak amacıyla otomotiv sektörü yatırımı olarak 2020 yılında İstanbul’da kurulmuştur. Genç, dinamik ve yenilikçi kadroları ile sağlam finansal alt yapısıyla kendine duyduğu güveni, sunmuş olduğu kaliteli ve yenilikçi çözümler ile müşterisine ve paydaşlarına yansıtan güçlü bir otomotiv kuruluşudur.

                            .buttons
                                a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                        img.img1(src=prefix + "/img/brands/otokolo/img-1.png")
                        img.img2(src=prefix + "/img/brands/otokolo/img-2.png")

                    .brands-item.vbtt(style="background-image:url("+prefix+"/img/brands/vbtt/bg.jpg)")
                        .content
                            .centerfix
                                h3.title
                                    span Türkiye Cumhuriyeti
                                    | vatandaşı olan herkes VBTT olabilir.

                                img.logo(src=prefix+"/img/brands/vbtt/logo.svg")

                                p VBTT,  Veri Bireysel Pazarlama Aş olarak kurulan ‘’Referans/Tavsiye’’ usulü ile çalışan satış şirketidir. Alışılagelmiş reklam yöntemlerinden farklı olarak dostluğa ve güvene dayalı bir sistemdir. VBTT ile birlikte kazanma, kazancını paylaşma ve paylaştıkça büyüme misyonuyla, deneyimli deneyimsiz tüm bireylere fırsat eşitliği sunarak herkesin kazanç elde etmesini sağlamak ana odağıdır.

                            .buttons
                                a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                        img.img1(src=prefix + "/img/brands/vbtt/img.png")
                        img.img1-mobile(src=prefix + "/img/brands/vbtt/img-mobile.png")

                    .brands-item.international-medya.color-black(style="background-image:url("+prefix+"/img/brands/international-medya/bg.jpg)")
                        .content
                            .centerfix
                                h3.title
                                    span Türkiye’nin en büyük
                                    | digital organizasyonu…

                                img.logo(src=prefix+"/img/brands/international-medya/logo.svg")

                                p Kolo Holding bünyesinde televizyon, internet gazeteciliği, dergi, basın yayın, medya planlama, içerik planlaması, web site yönetimi, animasyon, reklam - prodüksiyon, sosyal sorumluluk projeleri alanında Türkiye’nin en büyük digital organizasyonu olma gayesiyle yola çıkmıştır. International Medya’nın misyonu her türlü mecradan global standartlarda haber, içerik ve hizmet sunmak; yenilikçi vizyonuyla tüm alanlarda fark yaratan projeler üretmektir.

                            .buttons
                                a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                        img.img1(src=prefix + "/img/brands/international-medya/img.png")

                    .brands-item.haber-international(style="background-image:url("+prefix+"/img/brands/haber-international/bg.jpg)")
                        .content
                            .centerfix
                                h3.title
                                    span Anlık ve Sıcak haber
                                    | için bulunabilecek en iyi adres...

                                img.logo(src=prefix+"/img/brands/haber-international/logo.svg")

                                p Türkiye'nin önemli internet yayın gruplarından biri haline gelme gayesi ile yola çıkan Haber International siyaset, gündem, ekonomi, kadın, spor, video gibi önemli içeriklerde haber üretmektedir. International Medya bünyesinde takipçilerine hizmet veren Haber International “Dünyadan Haberiniz Olsun” mottosu ile yayın hayatına devam eder. Anlık ve Sıcak haber için bulunabilecek en iyi adrestir...

                            .buttons
                                a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                        img.img1(src=prefix + "/img/brands/haber-international/img.png")

                    .brands-item.iq-sigorta.color-black
                        .content
                            .centerfix
                                h3.title
                                    span Anlık ve Sıcak haber
                                    | için bulunabilecek en iyi adres...

                                img.logo(src=prefix+"/img/brands/iq-sigorta/logo.svg")

                                p Odak noktası müşteri memnuniyeti olan, yaşam kalitesini arttıran ve herkesin tercih edebileceği bir marka olma hedefiyle ilerleyen bir sigorta kuruluşudur. “Akıllı Sigortacılık” hizmetlerimizde şeffaflık, etik değerlere sahip olan kurum kültürü ile müşterilerimizin varlıklarını, sağlıklarını korumak ve sağladığımız nitelikli ayrıcalıklarla tüm yaşamını güvenle idame edebilmesi için çabalıyoruz.

                            .buttons
                                a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                        img.img1(src=prefix + "/img/brands/iq-sigorta/img.png")

    section.centerfix.homepage-press-list
        .container
            .col-12
                h5.mini-title kolo<span>holding</span> hakkında
                h3.title.title-seventh Basında
                p.description Daha iyisi için, her gün daha çok çalışarak <br>hayata değer katan projeler üretiyoruz!
                a.button.button-fifth(href="basinda.html") Tüm Haberler
            .row
                -for(let i = 0; i<3; i++)
                    .col-12.col-md-4(style="margin-top: -" + (i * 25) + "px")
                        a.press-item(href="basinda-detay.html")
                            figure
                                img(src="https://place-hold.it/522x354")
                            h4.title.title-third Lorem ipsum dolor sit amet, consectetur.
                            p bibendum. Curabitur lobortis, neque non imperdiet faucibus, nisl turpis faucibus nunc.

                        a.press-item(href="basinda-detay.html")
                            figure
                                img(src="https://place-hold.it/522x354")
                            h4.title.title-third Lorem ipsum dolor sit amet, consectetur.
                            p bibendum. Curabitur lobortis, neque non imperdiet faucibus, nisl turpis faucibus nunc.