extends layout/layout

block content
    section.content-wrapper.about-page
        .container
            .page-top
                h1.title.title-page-title Hakkımızda
                .breadcrumb
                    a(href="#") Ana Sayfa
                    | >
                    a(href="#") Kurumsal
                    | >
                    a(href="#") Hakkımızda

            .centerfix
                .row
                    .col-12
                        img.img(src=prefix+"/img/about/about-img.png")

                        p <b>‘Hayata Değer Katan Projeler Üretmek!’ </b> mottosu ile yola çıkan Kolo Holding, Türkiye’nin lider Tasarrufa Dayalı Faizsiz Finans şirketi olan Finansevim, medya alanında faaliyet gösteren International Medya ve Türkiye’nin güvenle otomobil alma noktası olan Otokolo, birikimleri fırsata çeviren bakış açıısyla emlak sektörüne yeni bir soluk getiren Kolo Real Estate şirketlerinin yanı sıra enerji ve inşaat gibi önemli iş kollarında çalışmalarını yürütmektedir.

                        p Bu iş kollarında tüm Türkiye’de binlerce kişiyi istihdam eden Kolo Holding; yatırımının insan olduğu şirketlerinde, yola çıktığı ilk günden bu yana çalışanlarını şirketin kalbi olarak görmektedir.

                        p Her gün daha iyi bir dünya için büyük bir özveri ile çalışmaya devam eden genç ve yenilikçi ekibiyle kurduğu karşılıklı güven duygusu ile insanlara hizmet etmek şirketin temel yapı taşı olmuştur. Kolo Holding, bu birliktelikten aldığı güçle, hayata değer katan projeler üretmeye devam ediyor...

                        h3.title.title-second.space
                            b Daha iyisi için,
                            | her gün daha çok çalışarak hayata değer katan projeler üretiyoruz!

                        p Vestibulum tellus orci, mollis vel neque in, sagittis cursus mi. Maecenas aliquet volutpat velit, placerat condimentum orci laoreet lacinia. Sed nisi ex, scelerisque eu turpis a, cursus vestibulum dolor. Nunc ut nisl velit. Morbi scelerisque pharetra libero vel sollicitudin. Donec accumsan quis lectus vitae tristique. Donec odio erat, scelerisque eu ornare nec, rutrum et purus. Sed vehicula et ex nec cursus. Vivamus lobortis arcu enim, sit amet maximus metus luctus vitae. Mauris tristique suscipit maximus.

                        p Aliquam consectetur tempor bibendum. Curabitur lobortis, neque non imperdiet faucibus, nisl turpis faucibus nunc, in pellentesque lorem ipsum vel urna. Nam mattis ac ipsum non venenatis. Sed ultrices cursus enim, id luctus neque dapibus a. Suspendisse id odio ligula. Sed rutrum, nulla eget fringilla ullamcorper, erat magna luctus risus, in accumsan elit diam a mi. Suspendisse potenti. Aliquam dapibus ligula a erat dignissim, non fermentum enim vehicula. Morbi vitae eros placerat, tempus ligula eget, tincidunt libero. Vestibulum eget laoreet mi, ac dignissim quam. Phasellus sit amet arcu non leo fermentum eleifend ut quis tortor