extends layout/layout

block content
    section.content-wrapper.about-page.brands-list
        .container
            .page-top
                h1.title.title-page-title Markalarımız
                .breadcrumb
                    a(href="#") Ana Sayfa
                    | >
                    a(href="#") Markalarımız

            .brands-item.finansevim(style="background-image:url(" + prefix + "/img/brands/finansevim/bg.jpg)")
                .content
                    .centerfix
                        h3.title
                            span Türkiye’nin
                            | Faizsiz Ev Alma Sistemi

                        img.logo(src=prefix + "/img/brands/finansevim/logo.svg")

                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar, elit elementum fringilla cursus, tortor tellus aliquam ligula,et porta lacus leo nec elit. Etiam nibh metus, dignissim sed.

                    .buttons
                        a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                img.img1(src=prefix + "/img/brands/finansevim/img.png")

            .brands-item.otokolo(style="background-image:url(" + prefix + "/img/brands/otokolo/bg.jpg)")
                .content
                    .centerfix
                        h3.title
                            span Türkiye’nin
                            | İkinci El Taksitle ve Senetle Araba Alma Sistemi

                        img.logo(src=prefix + "/img/brands/otokolo/logo.svg")

                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar, elit elementum fringilla cursus, tortor tellus aliquam ligula,et porta lacus leo nec elit. Etiam nibh metus, dignissim sed.

                    .buttons
                        a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                img.img1(src=prefix + "/img/brands/otokolo/img-1.png")
                img.img2(src=prefix + "/img/brands/otokolo/img-2.png")

            .brands-item.vbtt(style="background-image:url(" + prefix + "/img/brands/vbtt/bg.jpg)")
                .content
                    .centerfix
                        h3.title
                            span Türkiye Cumhuriyeti
                            | vatandaşı olan herkes VBTT olabilir.

                        img.logo(src=prefix + "/img/brands/vbtt/logo.svg")

                        p Tek yapman gereken başarılı olacağını düşündüğün alanlarda, örneğin; tasarrufa dayalı faizsiz ev alma sistemi olan Finansevim’e yönlendireceğin her bir kişinin katılım bedeli ücretinden sen de hak edişini kazanırsın!

                    .buttons
                        a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                img.img1(src=prefix + "/img/brands/vbtt/img.png")
                img.img1-mobile(src=prefix + "/img/brands/vbtt/img-mobile.png")

            .brands-item.international-medya.color-black(style="background-image:url(" + prefix + "/img/brands/international-medya/bg.jpg)")
                .content
                    .centerfix
                        h3.title
                            span Türkiye’nin en büyük
                            | digital organizasyonu…

                        img.logo(src=prefix + "/img/brands/international-medya/logo.svg")

                        p Televizyon, internet gazeteciliği, dergi, basın yayın, medya planlama, içerik planlaması, web site yönetimi, animasyon, reklam - prodüksiyon, sosyal sorumluluk projeleri...

                    .buttons
                        a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                img.img1(src=prefix + "/img/brands/international-medya/img.png")

            .brands-item.haber-international(style="background-image:url(" + prefix + "/img/brands/haber-international/bg.jpg)")
                .content
                    .centerfix
                        h3.title
                            span Anlık ve Sıcak haber
                            | için bulunabilecek en iyi adres...

                        img.logo(src=prefix + "/img/brands/haber-international/logo.svg")

                        p Türkiye'nin önemli internet yayın gruplarından biri haline gelme gayesi ile yola çıkan Haber International siyaset, gündem, ekonomi, kadın, spor, video gibi önemli içeriklerde haber üretmektedir.

                    .buttons
                        a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                img.img1(src=prefix + "/img/brands/haber-international/img.png")

            .brands-item.iq-sigorta.color-black
                .content
                    .centerfix
                        h3.title
                            span Anlık ve Sıcak haber
                            | için bulunabilecek en iyi adres...

                        img.logo(src=prefix + "/img/brands/iq-sigorta/logo.svg")

                        p Odak noktası müşteri memnuniyeti olan, yaşam kalitesini arttıran ve herkesin tercih edebileceği bir marka olma hedefiyle ilerleyen bir sigorta kuruluşudur.

                    .buttons
                        a.button.button-third(href="markalarimiz.html") Detaylı Bilgi

                img.img1(src=prefix + "/img/brands/iq-sigorta/img.png")