.contact-page {
  padding: 50px 0;

  .map {
    @include centerfix;
    margin-bottom: 40px;
    height: 400px;

    @include minBreakpoint($phablet) {
      padding: 10px;
      border: 1px solid #e6e6e6;
      height: auto;
    }

    img {
      @include breakpoint($phablet) {
        @include center(true, true);
        height: 100%;
      }

      @include minBreakpoint($phablet) {
        max-width: 100%;
      }
    }
  }

  .address-info {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 50px;

    .title {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 0;
    }

    a {
      display: block;
      color: #4e4e4e;
    }
  }

  .contact-form {
    .title {
      margin-bottom: 15px;
    }

    .button {
      width: 100%;

      @include minBreakpoint($phablet) {
        width: auto;
      }
    }
  }
}

.alert {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #00c500;
  background: #8ddc8d;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}