.error-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #737373;
  flex-direction: column;
  font-size: 18px;
  min-height: 700px;
  padding: 0 100px;
}