.homepage-slider-wrapper {
  @include centerfix;
  height: 100vh;
  min-height: 500px;
  background: url("../img/homepage/homepage-slider.jpg") center center no-repeat;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(6, 35, 61, 0), rgba(6, 35, 61, 0.5), $blue, $blue);
    height: 300px;
    display: block;

    @include minBreakpoint($phablet) {
      display: none;
    }
  }

  #video {
    @include center(true, true);
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    @include minBreakpoint($phablet) {
      display: block;
    }

    video {
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1000;
      overflow: hidden;
    }
  }

  @include minBreakpoint($phablet) {
    min-height: 700px;
  }

  .container {
    height: 100%;
    z-index: 5;
  }

  .homepage-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 40px;
    z-index: 5;

    @include minBreakpoint($phablet) {
      @include center(false, true);
      left: 0;
      width: 305px;
      padding: 0;
      background: none;
    }

    .content {
      padding: 29px;
      width: 100%;
      color: $white;

      @include minBreakpoint($phablet) {
        background-color: rgba(3,32,58,0.7);
        width: 305px;
        margin-bottom: 32px;
      }

      p {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.35;
        font-family: $font_third;
        letter-spacing: 0.64px;
        color: $white;
        padding: 11px 0;
      }

      .hastag {
        font-size: 23px;
        line-height: 1.74;
        letter-spacing: -0.12px;
        font-style: italic;
      }
    }

    .button {
      margin-left: 29px;
    }
  }

  .owl-dots {
    right: 30px;
    margin-top: -22px;
    display: none;

    @include minBreakpoint($phablet) {
      display: block;
    }
  }
}
.homepage-references-list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95px;
  background-color: rgba(3,22,40,0.7);
  z-index: 6;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    img {
      max-height: 23px;
      margin: 0 20px;
      opacity: 0.4;
      transition: all $animation_speed $animation_easing;

      &.big {
        height: 35px;
        max-height: 35px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.brands-list {
  padding: 55px 0;

  .brands-all-item {
    @include centerfix;
    min-height: 530px;
    background: url("../img/footer-bg.png");
    background-size: contain;
    padding: 30px 25px;
    font-size: 29px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: -0.19px;
    color: $blue;
    margin-bottom: 30px;

    @include minBreakpoint($phablet) {
      padding: 55px 50px;
      font-size: 36px;
    }

    span {
      font-weight: 600;
    }

    &.active {
      .content, .img1, .img2 {
        transform: translateX(0px);
        opacity: 1;
      }

      .img1 {
        @include minBreakpoint($phablet) {
          transform: translateX(0px) translateY(-50%);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      font-family: $font_third;
      padding-top: 300px;
      transform: translateX(-100px);
      opacity: 0;
      transition: all $animation_easing $animation_speed;

      @include minBreakpoint($phablet) {
        padding-top: 0;
        width: 40%;
      }

      p {
        margin-bottom: 35px;
      }

      .buttons {
        align-self: end;
      }
    }

    img {
      position: absolute;
      transition: all $animation_easing $animation_speed;
      opacity: 0;

      &.img1 {
        right: 25%;
        top: 50px;
        max-width: 250px;
        transition-delay: 0.15s;
        transform: translateX(100px);

        @include minBreakpoint($phablet) {
          right: 15%;
          top: 50%;
          transform: translateX(100px) translateY(-50%);
          width: 40%;
          max-width: 425px;
        }
      }

      &.img2 {
        right: 15%;
        top: 10px;
        max-width: 250px;
        transition-delay: 0.45s;
        transform: translateX(100px);

        @include minBreakpoint($phablet) {
          right: 5%;
          bottom: 0;
          width: 40%;
          top: auto;
          max-width: 365px;
        }
      }
    }
  }
}

.brands-item {
  @include centerfix;
  min-height: 530px;
  background-size: cover;
  padding: 30px 25px;
  color: $white;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 30px;
  overflow: hidden;

  @include minBreakpoint($phablet) {
    padding: 55px 50px;
  }
  
  &.color-black {
    color: #2b2a29;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    line-height: 1.81;
    letter-spacing: -0.14px;
    z-index: 2;
    padding-top: 300px;
    transform: translateX(-100px);
    opacity: 0;
    transition: all $animation_easing $animation_speed;

    @include minBreakpoint($phablet) {
      width: 80%;
      padding-top: 0;
    }

    .title {
      font-family: $font_third;
      font-size: 27px;
      font-weight: 300;
      margin-bottom: 15px;
      line-height: 30px;

      span {
        font-weight: 600;
        margin-right: 5px;
      }
    }

    .logo {
      margin-bottom: 50px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: -0.09px;
      margin-bottom: 35px;

      @include minBreakpoint($phablet) {
        font-size: 17px;
        width: 40%;
      }
    }

    .buttons {
      align-self: end;
    }
  }

  .img1, .img2, .img1-mobile {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all $animation_easing $animation_speed;
  }

  .img1 {
    transition-delay: 0.15s;
  }

  .img2 {
    transition-delay: 0.45s;
  }

  &.active {
    .img1, .img2, .img1-mobile {
      opacity: 1;
    }

    .content {
      transform: translateX(-0px);
      opacity: 1;
    }
  }

  &.finansevim {

    &.active {
      .img1 {
        margin-right: 0;
      }
    }

    .img1 {
      margin-right: -25px;
      @include breakpoint($phablet) {
        @include center(true, false);
        top: 10px;
        max-height: 285px;
      }
      @include minBreakpoint($phablet) {
        @include center(false, true);
        max-height: 450px;
        max-width: 80%;
        right: 30px;
      }
    }
  }

  &.otokolo {
    .img1 {
      right: 30%;
      transform: translateX(20%);

      @include breakpoint($phablet) {
        position: absolute;
        top: 75px;
        max-height: 170px;
      }

      @include minBreakpoint($phablet) {
        right: 15%;
        bottom: 40px;
        width: 50%;
        max-width: 565px;
      }
    }

    &.active {
      .img1, .img2 {
        transform: translateX(0%);
      }
    }

    .img2 {
      right: 20%;
      transform: translateX(20%);

      @include breakpoint($phablet) {
        position: absolute;
        top: 10px;
        max-height: 250px;
      }

      @include minBreakpoint($phablet) {
        right: 5%;
        bottom: 0;
        width: 30%;
        max-width: 350px;
      }
    }
  }

  &.haber-international {
    &.active {
      .img1 {
        margin-right: 0;
      }
    }

    .img1 {
      margin-right: -25px;

      @include breakpoint($phablet) {
        @include center(true, false);
        top: 10px;
        max-height: 285px;
      }
      @include minBreakpoint($phablet) {
        max-height: 450px;
        max-width: 60%;
        top: 100px;
        right: 10px;
      }
    }
  }

  &.vbtt {
    .img1 {
      display: none;
      transform: translateX(100%);

      @include minBreakpoint($phablet) {
        max-height: 100%;
        top: 0;
        right: 0;
        display: block;
      }
    }

    &.active {
      .img1 {
        transform: translateX(0%);
      }
      .img1-mobile {
        transform: translateY(0%);
      }
    }

    .img1-mobile {
      transform: translateY(-100%);
      left: 0;
      top: 0;
      width: 100%;
      display: block;
      @include minBreakpoint($phablet) {
        display: none;
      }
    }
  }

  &.international-medya {
    &.active {
      .img1 {
        margin-right: 0;
      }
    }

    .img1 {
      margin-right: -25px;

      @include breakpoint($phablet) {
        @include center(true, false);
        top: 10px;
        max-height: 285px;
      }
      @include minBreakpoint($phablet) {
        max-height: 100%;
        max-width: 60%;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }

  &.iq-sigorta {
    background-image: linear-gradient(354deg, #e6e6e6 100%, #ffffff 29%);

    &.active {
      .img1 {
        margin-right: 0;
      }
    }

    .img1 {
      margin-right: -25px;
      @include breakpoint($phablet) {
        @include center(true, false);
        top: 10px;
        max-height: 285px;
      }
      @include minBreakpoint($phablet) {
        max-height: 100%;
        max-width: 70%;
        right: -100px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.homepage-press-list {
  padding: 0 0 50px 0;

  .mini-title {
    display: block;
    opacity: 0.4;
    font-size: 13px;
    font-weight: 600;
    line-height: 3.77;
    letter-spacing: 1.3px;
    color: $white;

    span {
      font-weight: 300;
    }
  }

  .title {
    display: block;
    margin-bottom: 15px;
  }

  .description {
    display: block;
    opacity: 0.75;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.54;
    letter-spacing: 0.23px;
    color: $white;
    margin-bottom: 50px;
  }

  .button {
    position: absolute;
    right: 15px;
    top: 35px;
  }

}