.press-page {
  .press-img {
    float: left;
    border: 1px solid #e6e6e6;
    padding: 9px;
    max-width: 100%;
    margin: 0 30px 30px 0;

    @include minBreakpoint($phablet) {
      max-width: 50%;
    }

    img {
      max-width: 100%;
    }
  }
}

.press-item {
  @include centerfix;
  border: 1px solid #e6e6e6;
  padding: 5px 5px 25px;
  margin-bottom: 40px;
  background: $white;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  figure {
    @include centerfix;
    overflow: hidden;

    img {
      max-width: 100%;
      transition: all $animation_easing $animation_speed;
    }
  }

  .title {
    display: inline-block;
    margin: 10px 5px;
  }

  p {
    padding: 0 5px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.46;
    color: #696c6f;
  }
}