- var prefix = "./public/dist";
- var isHomePage=false;
<!DOCTYPE html>
html(lang="tr")
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Kolo Holding
        meta(name="description", content="Kolo Holding")
        meta(name="keywords", content="Kolo Holding")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")
        meta(name="format-detection", content="telephone=no")
        link(rel="shortcut icon", type="image/x-icon", href=prefix + "/img/favicon/favicon.ico")
        link(rel="apple-touch-icon", href=prefix + "/img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="72x72", href=prefix + "/img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="114x114", href=prefix + "/img/favicon/apple-icon-114x114.png")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet")
        link(rel="stylesheet", href=prefix + "/css/style.css")

    body
        header#header(class=isHomePage ? "homepage": "")
            .header-left
                figure.logo
                    a(href="index.html")
                        img(src=prefix+"/img/kolo-holding-logo.png" alt="kolo holding logo")

            nav.short-menu
                ul
                    li
                        a(href="kurumsal.html") KURUMSAL
                    li
                        a(href="markalarimiz.html") MARKALARIMIZ
                    li
                        a(href="basinda.html") BASINDA


            button.toggle-menu MENÜ
                .icon
                    span
                    span
                    span

            nav.main-menu
                ul
                    li.has-sub-menu
                        a(href="kurumsal.html") Kurumsal
                        a.sub-menu-item(href="#") Hakkımızda
                        a.sub-menu-item(href="#") Firmalarımız
                        a.sub-menu-item(href="#") Yönetim Kurulu
                        a.sub-menu-item(href="#") Organizasyon Şeması
                        a.sub-menu-item(href="#") Otokolo kimdir?
                        a.sub-menu-item(href="gizlilik-politikasi.html") Gizlilik
                        a.sub-menu-item(href="#") Güven

                    li
                        a(href="markalarimiz.html") Markalarımız
                    li
                        a(href="basinda.html") Basında
                    li
                        a(href="iletisim.html") İletişim

                    li.social
                        a(href="#") facebook
                        a(href="#") instagram
                        a(href="#") twitter


        main#main
            block content

        footer#footer(class=isHomePage ? "homepage": "")
            .container
                .row.d-flex.align-items-center
                    nav.footer-menu.col-12.col-md-8.d-none.d-md-flex
                        ul
                            li
                                a(href="kurumsal.html") Kurumsal
                            li
                                a(href="markalarimiz.html") Markalarımız
                            li
                                a(href="basinda.html") Haberler
                            li
                                a(href="basinda.html") Basında
                            li
                                a(href="iletisim.html") İletişim Bilgileri

                    nav.footer-social-menu.col-12.col-md-4
                        ul.justify-content-center.justify-content-md-end
                            li
                                a.fb(href="#")
                            li
                                a.tw(href="#")
                            li
                                a.linkedin(href="#")
                            li
                                a.in(href="#")

                    .copyright.col-12 © 2020 Kolo Holding, Copyright

        script(type="text/javascript", src=prefix + "/js/bundle.js")
        block scripts

