- var prefix = "./public/dist";
<!DOCTYPE html>
html(lang="tr")
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Kolo Holding
        meta(name="description", content="Kolo Holding")
        meta(name="keywords", content="Kolo Holding")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")
        meta(name="format-detection", content="telephone=no")
        link(rel="shortcut icon", type="image/x-icon", href=prefix + "/img/favicon/favicon.ico")
        link(rel="apple-touch-icon", href=prefix + "/img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="72x72", href=prefix + "/img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="114x114", href=prefix + "/img/favicon/apple-icon-114x114.png")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet")
        link(rel="stylesheet", href=prefix + "/css/style.css")

    body
        header#header.homepage
            .header-left
                figure.logo
                    a(href="index.html")
                        img(src=prefix+"/img/kolo-holding-logo-blue.png" alt="kolo holding logo")

        main#main
            block content

        script(type="text/javascript", src=prefix + "/js/bundle.js")
        block scripts

