#footer {
  @include centerfix;
  z-index: 1;
  padding: 30px 0;
  background: url("../img/footer-bg.png") top center;
  background-size: cover;
  font-size: 13px;
  font-weight: 500;

  &:not(.homepage) {
    background: url("../img/bg-blue-mask.jpg") top center;

    * {
      color: $white !important;
    }

    .footer-social-menu {
      ul {
        li {
          a {
            &.fb {
              background-image: url("../img/icons/icon-facebook-white.svg");
            }

            &.tw {
              background-image: url("../img/icons/icon-twitter-white.svg");
            }

            &.in {
              background-image: url("../img/icons/icon-instagram-white.svg");
            }

            &.linkedin {
              background-image: url("../img/icons/icon-linkedin-white.svg");
            }
          }
        }
      }
    }
  }

  .container {
    height: 100%;
  }

  .footer-menu {
    display: flex;
    margin-bottom: 30px;

    ul {
      display: flex;
      flex-direction: row;

      li {
        margin: 10px 2vw 10px 0;

        a {
          display: block;
          font-size: 13px;
          font-weight: 500;
          color: $gray;
          transition: all $animation_speed $animation_easing;

          @include minBreakpoint($phablet) {
            font-size: 15px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .footer-social-menu {
    margin-bottom: 30px;

    ul {
      display: flex;

      li {
        &:not(:first-child) {
          margin-left: 30px;
        }

        a {
          display: block;
          width: 25px;
          height: 25px;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;

          &.fb {
            background-image: url("../img/icons/icon-facebook.svg");
          }

          &.tw {
            background-image: url("../img/icons/icon-twitter.svg");
          }

          &.in {
            background-image: url("../img/icons/icon-instagram.svg");
          }

          &.linkedin {
            background-image: url("../img/icons/icon-linkedin.svg");
          }
        }
      }
    }
  }

  .copyright {
    line-height: 1.31;
    letter-spacing: -0.07px;
    font-weight: 500;
    color: $gray;
    text-align: center;

    @include minBreakpoint($phablet) {
      text-align: left;
    }
  }
}