#header {
  position: fixed;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  z-index: 9;
  transition: all $animation_speed $animation_easing;

  &.fixed, &:not(.homepage) {
    background: $blue;
  }

  &.fixed {
    height: 100px;

    .short-menu {
      li {
        &:hover, &.active {
          border-bottom-color: $dark_yellow;
        }
      }
    }
  }

  &:not(.homepage) + main {
    margin-top: 140px;
  }

  &.homepage + main {
    background: $blue;
  }

  .logo {
    @include center(false, true);
    left: 30px;
    height: 76px;
    z-index: 4;

    @include minBreakpoint($phablet) {
      left: 65px;
    }

    img {
      max-height: 100%;
    }
  }

  .short-menu {
    @include center(true, true);
    height: 100%;
    display: none;

    @include minBreakpoint($phablet) {
      display: block;
    }

    ul {
      display: flex;
      align-content: center;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        border-bottom: 3px solid transparent;

        &:hover, &.active {
          a {
            color: $dark_yellow;
          }
        }

        &:not(:last-child) {
          margin-right: 3vw;
        }

        a {
          padding: 0 25px;
          font-size: 15px;
          font-weight: 500;
          font-family: $font_third;
          letter-spacing: 0.94px;
          color: $white;
          transition: all $animation_easing $animation_speed;
        }
      }
    }
  }

  .toggle-menu {
    @include center(false, true);
    right: 30px;
    font-size: 14px;
    font-family: $font_third;
    letter-spacing: 1.96px;
    color: $white;
    font-weight: 400;
    padding: 19px 70px 19px 25px;
    background: $blue;
    border: none;
    z-index: 4;
    transition: all $animation_easing $animation_speed;
    outline: none;
    overflow: hidden;

    @include minBreakpoint($phablet) {
      right: 55px;
    }

    &:hover {
      background: $dark_yellow;
      color: $white;
    }

    &.active {
      //color: $blue;

      .icon {
        span {
          margin-right: 0 !important;
          transform-origin: 1px 10px;

          &:nth-child(1) {
            transform: rotate(-45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(45deg);
          }
        }
      }

    }

    .icon {
      @include center(false, true);
      right: 25px;
      display: flex;
      justify-content: space-between;

      span {
        width: 2px;
        height: 24px;
        background: $white;
        transition: all $animation_easing $animation_speed;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }

    }
  }

  .main-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    background: url("../img/bg-blue-mask.jpg") top center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 0;
    transition: all $animation_easing $animation_speed;

    @include minBreakpoint($phablet) {
      justify-content: start;
    }

    &.active {
      height: 100%;

      ul {
        li {
          a {
            opacity: 1 !important;
          }
        }
      }
    }

    > ul {
      display: block;
      width: 100%;
      padding: 75px 75px 0 75px;

      @include minBreakpoint($phablet) {
        padding: 75px 75px 0 115px;
      }

      > li {
        display: block;
        margin-bottom: 16px;

        @include minBreakpoint($phablet) {
          margin-bottom: 32px;
        }

        &.has-sub-menu {
          @include minBreakpoint($phablet) {
            position: relative;
            float: left;
            max-width: 400px;
            min-width: 300px;
            width: 50%;
            z-index: 4;
          }
        }

        &:not(.social) {

          @for $i from 1 through 5 {
            &:nth-child(#{$i}) a {
              transition-delay: $i * 0.1s;
            }
          }
          a:not(.sub-menu-item) {
            position: relative;
            display: block;
            font-family: $font_second;
            font-size: 33px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 3px;
            color: $white;
            transition: opacity $animation_speed $animation_easing;
            opacity: 0;
            text-align: left;

            @include minBreakpoint($phablet) {
              font-size: 40px;
            }
          }

          .sub-menu-item {
            display: block;
            font-size: 19px;
            font-weight: 300;
            letter-spacing: 1.53px;
            font-family: $font_third;
            color: $white;
            margin-top: 16px;
            text-align: left;
            padding-left: 15px;

            @include minBreakpoint($phablet) {
              padding-left: 0;
              margin-top: 24px;
            }
          }
        }

        &.social {
          @include center(true, false);
          bottom: 30px;
          display: none;

          @include minBreakpoint($phablet) {
            display: block;
          }

          a {
            margin: 0 100px;
            font-size: 18px;
            font-family: $font_third;
            font-weight: 300;
            letter-spacing: 2.52px;
            color: $white;
          }
        }

        a:hover {
          color: $dark_yellow !important;
        }

      }
    }
  }
}