#main {
  @include centerfix;
  min-height: 600px;
  font-size: 15px;
  z-index: 2;
}

.centerfix {
  @include centerfix;
}

.container {
  position: relative;
  z-index: 2;

  @include minBreakpoint(1360px) {
    max-width: 1360px;
  }
}

.page-top {
  @include centerfix;
  margin-bottom: 65px;
  text-align: center;

  .breadcrumb {
    display: block;
    font-weight: 400;
    color: $dark_gray;
    font-size: 12px;
    font-family: $font_third;
    letter-spacing: 1.68px;
    margin-top: 15px;

    a {
      color: $dark_gray;
      padding: 0 5px;
    }
  }
}

.content-wrapper {
  @include centerfix;
  font-size: 16px;
  font-weight: 300;
  color: #4e4e4e;
  line-height: 26px;
  background: url("../img/main-bg.png") top center no-repeat;
  background-size: cover;
  padding: 65px 0;

  p {
    margin-bottom: 30px;
  }
}

.img {
  float: left;
  max-width: 100%;

  @include minBreakpoint($phablet) {
    margin-right: 30px;
  }
}

.mr15 {
  margin-right: 15px;
}

.mtb15 {
  margin: 15px 0;
}

.mb40 {
  margin-bottom: 40px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt100 {
  margin-top: 100px;
}

.clear {
  margin: 0 !important;
}

.width100 {
  width: 100%;
}

.b {
  font-weight: 700;
}

.light {
  font-weight: 300 !important;
}

.i {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-blue {
  color: $blue !important;
}