/*Button css*/
.button {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  transition: all $animation_easing $animation_speed;

  &-primary {
    line-height: 47px;
    background: $blue;
    color: $white;
    text-align: center;
    font-family: $font_primary;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.18px;
    padding: 0 40px;

    &:hover {
      background: $white;
      color: $blue;
    }
  }

  &-second {
    font-family: $font_third;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.18px;
    padding: 0 50px 0 16px;
    background: $white;
    line-height: 47px;
    color: $blue;

    &:before {
      content: url("../img/icons/icon-arrow-right.svg");
      position: absolute;
      right: 16px;
      top: 0;
    }

    &:hover {
      background: $dark_yellow;
    }
  }

  &-third {
    font-family: $font_primary;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.18px;
    padding: 0 50px 0 16px;
    background: $blue;
    line-height: 47px;
    color: $white;

    &:before {
      content: url("../img/icons/icon-arrow-right-white.svg");
      position: absolute;
      right: 16px;
      top: 0;
    }

    &:hover {
      background: $dark_yellow;
    }
  }

  &-fourth {
    line-height: 47px;
    background: none;
    color: $blue;
    text-align: center;
    font-family: $font_primary;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.18px;
    padding: 0 40px;

    &:hover {
    }
  }

  &-fifth {
    font-family: $font_primary;
    font-size: 13px;
    font-weight: 400;
    padding: 0 50px 0 16px;
    background: $blue;
    line-height: 47px;
    color: $white;
    border: 1px solid $dark_yellow;
    letter-spacing: 0.23px;

    &:before {
      content: url("../img/icons/icon-arrow-right-white.svg");
      position: absolute;
      right: 16px;
      top: 0;
    }

    &:hover {
      background: $dark_yellow;
    }
  }
}