/*
*	Font Family
*/

$font1Folder: '../fonts/proxima/';

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$font1Folder}ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNova-Bold.otf') format('opentype'),
  url('#{$font1Folder}ProximaNova-Bold.woff') format('woff'), url('#{$font1Folder}ProximaNova-Bold.ttf') format('truetype'), url('#{$font1Folder}ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$font1Folder}ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNova-Light.otf') format('opentype'),
  url('#{$font1Folder}ProximaNova-Light.woff') format('woff'), url('#{$font1Folder}ProximaNova-Light.ttf') format('truetype'), url('#{$font1Folder}ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$font1Folder}ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNova-LightIt.otf') format('opentype'),
  url('#{$font1Folder}ProximaNova-LightIt.woff') format('woff'), url('#{$font1Folder}ProximaNova-LightIt.ttf') format('truetype'), url('#{$font1Folder}ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$font1Folder}ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNova-Regular.otf') format('opentype'),
  url('#{$font1Folder}ProximaNova-Regular.woff') format('woff'), url('#{$font1Folder}ProximaNova-Regular.ttf') format('truetype'), url('#{$font1Folder}ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$font1Folder}ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNova-RegularIt.otf') format('opentype'),
  url('#{$font1Folder}ProximaNova-RegularIt.woff') format('woff'), url('#{$font1Folder}ProximaNova-RegularIt.ttf') format('truetype'), url('#{$font1Folder}ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$font1Folder}ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNova-Semibold.otf') format('opentype'),
  url('#{$font1Folder}ProximaNova-Semibold.woff') format('woff'), url('#{$font1Folder}ProximaNova-Semibold.ttf') format('truetype'), url('#{$font1Folder}ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$font1Folder}ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNova-SemiboldIt.otf') format('opentype'),
  url('#{$font1Folder}ProximaNova-SemiboldIt.woff') format('woff'), url('#{$font1Folder}ProximaNova-SemiboldIt.ttf') format('truetype'), url('#{$font1Folder}ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('#{$font1Folder}ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNovaCond-Light.otf') format('opentype'),
  url('#{$font1Folder}ProximaNovaCond-Light.woff') format('woff'), url('#{$font1Folder}ProximaNovaCond-Light.ttf') format('truetype'), url('#{$font1Folder}ProximaNovaCond-Light.svg#ProximaNovaCond-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('#{$font1Folder}ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNovaCond-Regular.otf') format('opentype'),
  url('#{$font1Folder}ProximaNovaCond-Regular.woff') format('woff'), url('#{$font1Folder}ProximaNovaCond-Regular.ttf') format('truetype'), url('#{$font1Folder}ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('#{$font1Folder}ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'), url('#{$font1Folder}ProximaNovaCond-Semibold.otf') format('opentype'),
  url('#{$font1Folder}ProximaNovaCond-Semibold.woff') format('woff'), url('#{$font1Folder}ProximaNovaCond-Semibold.ttf') format('truetype'), url('#{$font1Folder}ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}