/*Title css*/
.title {
  border: none;
  outline: none;
  font-family: $font_primary;

  &-primary {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.08;
    color: $blue;
  }

  &-second {
    font-size: 35px;
    font-weight: 300;
    font-family: $font_third;
    color: $blue;
    line-height: 1.4;
    letter-spacing: -0.18px;
  }

  &.space {
    margin-bottom: 30px;
  }

  &-page-title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $blue;
    font-family: $font_third;
  }

  &-third {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    color: $blue;
  }

  &-fourth {
    font-family: $font_third;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.47;
    color: $blue;
  }

  &-fifth {
    font-family: $font_third;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: -0.17px;
    color: $white;
  }

  &-seventh {
    font-size: 39px;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.2px;
    color: $white;
  }
}